@require "~styles/variables"
@require "~styles/animation";

itemScreenLg()
    display: table-cell;
    vertical-align: middle;
    height: $bar-height;
    padding: 0;
    width: auto;

    a
        height: $bar-height;
        display: table-cell;
        vertical-align: middle;

.item-screen-lg
    itemScreenLg()

.item
    a
        padding: 10pt;
        display: block;
        width: 100%;
        text-decoration: none;
        color: #ccc;

        transition(all 0.2s ease-in-out);

        &:hover
            color: #999;

        &:global(.active)
            color: black;

    @media (min-width: $screen-tablet-min)
        itemScreenLg()
