@require "../styles"
@require "~styles/variables"
@require "~styles/utils"

.select
    display: block;
    position: relative;

.control
    composes: field;

    display: table;
    line-height: 1;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    padding: ($field-padding-vertical/2) ($field-padding-horizontal/2);
    position: relative;

    &.open
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &.searchable
            cursor: text;

    &.active
        active()

    &.open.active
        border-bottom-color: $field-border-color;

.value-zone
    display: table-cell;
    position: relative;
    /*overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;*/

.placeholder
    color: $field-placeholder-color;

// Position placeholder and single value as absolute to
// let search input float over.
.placeholder
    position: absolute;
    left: ($field-padding-horizontal/2);
    top: 1pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: ($field-padding-vertical/2) 0;

.search
    line-height: 1;

.input
    font-weight: $text-weight;
    border: none;
    background: transparent;
    outline: none;
    line-height: 1;
    padding: ($field-padding-vertical/2) 0;
    padding-left: ($field-padding-horizontal/2);
    margin: 0;

.loader-zone
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    width: 2em;
    line-height: 0;
    padding: ($field-padding-vertical/2) 0;

.caret-zone
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 1em;
    line-height: 0;
    padding: ($field-padding-vertical/2) 0;

.menu
    position: absolute;
    top: 100%;
    left: 0;
    right: 1pt;
    padding: 0;
    margin: 0;
    list-style: none;
    background: $field-bg-color;
    z-index: 100;
    border: 1pt solid $field-border-color-focus;
    border-top: none;
    max-height: 10em;
    overflow-y: scroll;
    overflow-x: hidden;

    li  
        a
            font-weight: $text-weight;
            color: $text-color;
            display: block;
            padding: 0.3em 0.5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &:hover
                color: $text-color;

.option-focused
    background: rgba(0, 126, 255, 0.05);
    //background: #f5f5f5;

.option-action
    display: inherit;
    color: #F9690E;
    font-weight: 2*$text-weight;

.option-placeholder
    span
        font-weight: $text-weight;
        display: block;
        padding: 0.3em 0.5em;
        color: $field-placeholder-color;

.option-separator
    height: 1pt;
    background: #ddd;

.caret
    caret()
