@require "../menu/styles"
@require "../item/styles"
@require "~styles/variables"

.toggle-menu
    composes: menu-screen-lg;
    float: right;

    @media (min-width: $screen-tablet-min)
        display: none;

.toggle-item
    composes: item-screen-lg;

.toggle-block
    display: inline-block;
    width: 20pt;

.toggle-line
    display: block;
    margin-bottom: 4pt;
    height: 1pt;
    width: 100%;
    background: $color-dark;
