@require "./variables"
@require "./general"
@require "./text"
@require "./margins"
@require "./animation"
@require "./utils"
@require "./table"

html
    general-main();
    text-main();
    margins-main();
    table-main();
