$inc = 0.2em;

text-font()
    font-family: $text-family;
    font-size: $text-size;
    font-weight: $text-weight;
    text-align: $text-align;
    line-height: $text-line-height;

    // Force components to inherit text styles
    input, select, textarea, button
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;

h-base()
    font-family: $text-family;
    font-weight: $text-weight;
    line-height: $text-line-height;

h1()
    h-base()
    font-size: 3.5*$text-size;
    font-weight: 2*$text-weight;
    margin: 8*$text-size 0 3*$text-size 0;
h2()
    h-base()
    font-size: 2.5*$text-size;
    margin: 4*$text-size 0 2*$text-size 0;
    font-weight: 2*$text-weight;
h3()
    h-base()
    font-size: 1.5*$text-size;
    margin: 3*$text-size 0 1.5*$text-size 0;
    font-weight: 2*$text-weight;
h4()
    h-base()
    font-size: 1.2*$text-size;
    margin: 2*$text-size 0 1*$text-size 0;
    font-weight: 2*$text-weight;
h5()
    h-base()
    font-size: 1.1*$text-size;
    margin: 2*$text-size 0 0.6*$text-size 0;
    font-weight: 2*$text-weight;
h6()
    h-base()
    font-size: 1*$text-size;
    margin: 2*$text-size 0 0.3*$text-size 0;
    font-weight: 3*$text-weight !important;

heading()
    h1
        h1()
    h2
        h2()
    h3
        h3()
    h4
        h4()
    h5
        h5()
    h6
        h6()

    :global(.headline)
        padding-bottom: 0.2em;
        border-bottom: 1px solid #ddd;

paragraph()
    p
        margin: 0;
        padding: 0;
    p + p
        margin-top: 1em;

code()
    code:not(:global(.prism))
        background: #f3f3f3;
        padding: 0.1em 0.2em;
        color: #d64541;
        border-radius: 0.1em;

link()
    a
        color: #1E8BC3;
        
        &:hover
            color: darken(#1E8BC3, 10%)

align()
    :global(.text-left)
        text-align: left;
    :global(.text-center)
        text-align: center;
    :global(.text-right)
        text-align: right;

text-main()
    text-font();
    code();
    heading();
    paragraph();
    align();
    link();
