$base-unit = 'px'

/****************************************************************
* Screen
****************************************************************/
$screen-sm = unit(768, $base-unit)
$screen-md = unit(992, $base-unit)
$screen-lg = unit(1200, $base-unit)

$screen-phone-max = $screen-sm - 1          // phone : 0-575pt
$screen-tablet-min = $screen-sm
$screen-tablet-max = $screen-md - 1         // tablet : 576-743pt
$screen-laptop-min = $screen-md
$screen-laptop-max = $screen-lg - 1         // laptop : 744-899pt
$screen-desktop-min = $screen-lg            // desktop: 900-inf

/****************************************************************
* Colors
****************************************************************/
$color-light = #ffffff
$color-dark = #424242
$color-positive = #4183d7
$color-moody = #397cac
$color-calm = #26c6da
$color-stable = #c6ccd2
$color-success = #26A65B
$color-warning = #f2b420
$color-danger = #ed4545

/****************************************************************
* Container
****************************************************************/
$container-sm = 720px
$container-md = 940px
$container-lg = 1140px

/****************************************************************
* Grid
****************************************************************/
$grid-gap-horizontal = 15px

/****************************************************************
* Texts
****************************************************************/
$text-family = "Raleway", "Helvetica Nue", Helvetica, Arial, sans-serif

$text-weight = 200
$text-color = #424242
$text-align = justify

$text-size = 18px
$text-size-xsm = 0.6em
$text-size-sm = 0.8em
$text-size-md = 1em
$text-size-lg = 1.2em
$text-size-xlg = 1.4em

$text-line-height = 1.5

/****************************************************************
* Fields
****************************************************************/
$field-padding-vertical = 0.5em
$field-padding-horizontal = 0.6em

$field-text-weight = $text-weight
$field-text-color-validating = #397cac
$field-border-radius = 0.2em
$field-border-color = #c6ccd2
$field-border-color-validating = #397cac
$field-border-color-invalid = #ed4545
$field-border-color-disabled = #c6ccd2
$field-border-color-focus = #397cac
$field-bg-color = #fbfbfb
$field-placeholder-color = #c6ccd2

/****************************************************************
* Buttons
****************************************************************/
$button-padding-vertical = $field-padding-vertical
$button-padding-horizontal = 1.3em

$button-text-weight = $field-text-weight
$button-border-radius = $field-border-radius

/****************************************************************
* Bar
****************************************************************/
$bar-bg-color = #fff
$bar-height = 60px
$bar-padding = 0px

/****************************************************************
* Modal
****************************************************************/
$modal-width-sm = 300px
$modal-width-md = 600px
$modal-width-lg = 900px

$modal-inner-padding-horizontal = 30px;
$modal-inner-padding-vertical = 30px;

/****************************************************************
* Z-Indexez
****************************************************************/
$bar-zindex = 1000
$modal-zindex = 1100

/****************************************************************
* Variables exported to js
****************************************************************/
@value baseUnit {$base-unit}
@value textSize {$text-size}

@value colorLight {""+$color-light}
@value colorDark {""+$color-dark}
@value colorPositive {""+$color-positive}
@value colorMoody {""+$color-moody}
@value colorCalm {""+$color-calm}
@value colorStable {""+$color-stable}
@value colorSuccess {""+$color-success}
@value colorWarning {""+$color-warning}
@value colorDanger {""+$color-danger}