@require "~styles/variables"
@require "~styles/utils"

.value-single
    display: inline-block;
    position: absolute;
    left: ($field-padding-horizontal/2);
    top: 1pt;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: ($field-padding-vertical/2) 0;

.value-multi
    display: inline-block;
    vertical-align: top;
    background: rgba(0, 126, 255, 0.08);
    border: 1pt solid rgba(0, 126, 255, 0.24);
    color: #007eff;
    border-radius: 0.2em;

    margin-left: ($field-padding-horizontal/2);
    margin-top: ($field-padding-vertical/2);

.value-multi-remove
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding: 0.1em 0.4em;
    border-right: 1pt solid rgba(0, 0, 0, 0.2);
    cursor: pointer;

    span
        font-size: 0.6em;

.value-multi-body
    display: inline-block;;
    vertical-align: middle;
    line-height: 1;
    padding: 0.1em 0.4em;

    span
        font-size: 0.8em;
