.spinner
    position: relative;
    display: inline-block;
    vertical-align: middle;

    width: 1em;
    height: 1em;

    -webkit-animation: circside infinite .75s linear;
    -moz-animation: circside infinite .75s linear;
    -o-animation: circside infinite .75s linear;
    animation: circside infinite .75s linear;

    border: 0.15em solid transparent;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-radius: 100%;

@keyframes circside
    0%
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    100%
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
