@require "~styles/variables"

.cell
    position: relative;
    min-height: 1px;
    padding-left: ($grid-gap-horizontal / 2);
    padding-right: ($grid-gap-horizontal / 2);

    @media (max-width: $screen-phone-max)
        width: 100% !important;
        
    @media (min-width: $screen-tablet-min)
        float: left;
