@require "~styles/variables"
@require "~styles/utils"
@require "~styles/animation"

/** Base Style **/
.button
    display: inline-block;
    font-size: $text-size;
    font-weight: $button-text-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: $button-border-radius;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;

    padding: $button-padding-vertical $button-padding-horizontal;

    transition(all 0.2s ease-in-out);

    &:hover,
    &:focus,
    &.active
        outline: none;
        text-decoration: none;
        background-image: none;

/** Flat Style **/
.button-flat
    color: $text-color;
    background-color: white;
    border-bottom-width: 2pt;
    border-right-width: 2pt;

    &:hover,
    &:focus
        background-color: #f5f5f5;

.button-flat-disabled
    cursor: not-allowed;
    pointer-events: none;
    opacity(0.5)

button-flat-color-schema($name, $color)
    .button-flat-{$name}
        if bright($color, 200)
            color: $color-dark;
        else
            color: $color-light;

        background-color: $color;

        &:hover,
        &:focus,
        .active
            background-color: darken($color, 20%)

    .button-flat-{$name}-active
        background-color: darken($color, 20%)

button-flat-color-schema("positive", $color-positive);
button-flat-color-schema("moody", $color-moody);
button-flat-color-schema("calm", $color-calm);
button-flat-color-schema("stable", $color-stable);
button-flat-color-schema("success", $color-success);
button-flat-color-schema("warning", $color-warning);
button-flat-color-schema("danger", $color-danger);


/** Outline Style **/
.button-outline
    background-color: transparent;

    &:hover,
    &:focus,
    &.active
        background-color: transparent;

.button-outline-disabled
    cursor: not-allowed;
    pointer-events: none;
    opacity(0.5)

button-outline-color-schema($name, $color)
    .button-outline-{$name}
        color: $color;
        border-color: $color;

        &:hover,
        &:focus,
        .active
            color: darken($color, 30%);
            border-color: darken($color, 30%);
            background-color: rgba(240, 240, 240, 0.5);

    .button-outline-{$name}-active
        color: darken($color, 30%);
        border-color: darken($color, 30%);
        background-color: rgba(240, 240, 240, 0.5);

button-outline-color-schema("positive", $color-positive);
button-outline-color-schema("moody", $color-moody);
button-outline-color-schema("calm", $color-calm);
button-outline-color-schema("stable", $color-stable);
button-outline-color-schema("success", $color-success);
button-outline-color-schema("warning", $color-warning);
button-outline-color-schema("danger", $color-danger);
